[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
psycopg2-binary = "*"
awsebcli = "*"
boto3 = "*"
django = "*"
djangorestframework = "*"
pre-commit = "*"
pre-commit-hooks = "*"

[requires]
python_version = "3.7"
