[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
awscli = "*"
awsebcli = "*"

[packages]
psycopg2-binary = "*"
boto3 = "*"
django = "*"
djangorestframework = "*"
pre-commit = "*"
pre-commit-hooks = "*"
django-model-utils = "*"
django-storages = "*"
awsebcli = "*"
pillow = "*"
drf-yasg = "*"
celery = "*"
packaging = "*"
django-extensions = "*"
swagger-spec-validator = "*"
ipdb = "*"

[requires]
python_version = "3.7"
